dist: xenial
language: clojure

addons:
  postgresql: "10"

services: postgresql

env:
 - DATABASE_URL=postgresql://postgres@localhost/postgres

before_script:
- psql -U postgres -c 'CREATE EXTENSION IF NOT EXISTS "uuid-ossp"; CREATE EXTENSION IF NOT EXISTS "pgcrypto";'
- psql -U postgres -f src/db/schema/create_schema.sql
- psql -U postgres -f src/db/schema/create_test_users.sql
- ./start_test.sh &
- sleep 30

script:
- lein test
