<html>
  <body>
    <p>Hei!</p>
    <p>Olet varannut Särkälle vartiovuorot seuraaviksi päiviksi:</p>

    <p>[booked_dates]</p>

    <p>Varaajan nimi: [name]<br>
      Varaajan sähköpostiosoite: [email]<br>
      Veneen nimi: [yacht_name]</p>

    <p>Voit käydä muuttamassa vartiovuoroja tai jättämiäsi yhteystietoja
      <a href="[update_link]">tästä linkistä</a>. Tämä linkki on
      sinulle henkilökohtainen. Älä jaa sitä muille.</p>

    <p>Jos haluat lisätietoja tai vartiovuoroissa on muuten epäselvyyksiä, ota yhteyttä [contact]</p>
  </body>
</html>
