<div class="span10">
  <h3>Vartiovuorovarauksesi:</h3>
  <p>
    <div id="bookedDates"> </div>
  </p>

  <p>
    Nimi: {{name}}<br>
    Veneen nimi: {{boat}}
  </p>

  <p>
    Vahvistus varauksista on lähetetty sähköpostiosoitteeseen {{email}}.
  </p>
</div>
</script>
