{{#if count}}
  <p>
    {{#each dates}}
    {{idx}}. vartiovuoro: {{date}}<br>
    {{/each}}
  </p>
{{else}}
  <p class="noReservations">
    Valitse kaksi vartiovuoroa. Et ole valinnut vielä yhtään.
  </p>
{{/if}}
